[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2.0"
flask-sqlalchemy = "~=3.0.0"
flask-migrate = "~=4.0.0"
flask-restful = "~=0.3.10"
sqlalchemy-serializer = "*"
werkzeug = "~=2.2.0"
pytest = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
